/.settings/*

/html-template/*
/bin-debug/*
/bin-release/*
/out/*
docs/*
libs/*
obj/*
.idea/*

.actionScriptProperties
.flexProperties
.flexLibProperties
.FlexUnitSettings
.project
.metadata

Icon
Thumbs.db
.DS_Store
dist/*
report/*
doc/*

*.iml
*.ipr
*.iws

AS3-StateMachine-Base_temp_flex_config.xml
